<section class="p-6 md:p-12 w-full lg:w-2/3 text-center font-['Orbitron']">
  <!-- Banner -->
  <div class="bg-black text-white h-48 md:h-64 rounded-lg flex items-center justify-center mb-2 md:mb-8">
    <p class="italic text-sm md:text-lg lg-text-xl">Event Banner</p>
  </div>

  <!-- Content -->
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 md:gap-6 mb-2 md:mb-8">
    <div class="bg-black text-white  h-12 md:h-20 rounded-lg flex items-center justify-center">
      <p class="italic text-sm md:text-lg lg-text-xl">Event Price</p>
    </div>
    <div class="bg-black text-white h-12 md:h-20 rounded-lg flex items-center justify-center">
      <p class="italic text-sm md:text-lg lg-text-xl">Event Details</p>
    </div>
  </div>

  <!-- Description -->
  <div class="bg-black text-white h-32 md:h-48 rounded-lg flex items-center justify-center mb-2 md:mb-8">
    <p class="italic text-sm md:text-lg lg-text-xl">Description</p>
  </div>

  <button id="createEventBtn"
    class="py-3 w-full bg-gradient-to-r from-purple-700 to-indigo-600 text-white text-sm md:text-base lg:text-lg rounded-lg hover:from-purple-600 hover:to-indigo-500 shadow-md transition transform hover:scale-105">
    Create Event
  </button>
</section>